albumentations==1.1.0
boto3==1.20.43
boto3_type_annotations==0.3.1
botocore==1.23.43
pandas==1.3.5
Pillow==9.0.0
scikit_learn==1.0.2
timm==0.5.4
tqdm==4.62.3
s3fs
fsspec
awscli
pytest
wandb
torchmetrics
